  .cv-button {
      
        text-decoration: none;
        letter-spacing: 4px;
        font-family: sans-serif;
        color: rgb(242, 215, 215);
        &:hover{
          color: rgb(0, 25, 59);
          background: #ffd700;
        }
      
      
    color:#ffd700;
    padding: 5px 9px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    background: none;
      &:hover {
        background: #ffd700;  
      }
  }

  .skills-span{
    color: #ffd700
  }


  .text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;
    overflow: hidden;
}


@media screen and (max-width: 1200px) {
    .text-shpere {
      position: relative;
      width: 100%;
      height: 0;
      left: -30%;
      overflow: visible;
      opacity: 0.2;
      z-index: -99;
    }
  }